{% if site.data.settings.hero.enable == true %}

<style>
  a.myLink {
      text-decoration: none; /* Remove default underline */
      color: black; /* Set text color */
      position: relative; /* Positioning context for the pseudo-element */
      display: inline; /* Ensure it's an inline element */
  }
  
  a.myLink:hover {
      text-decoration: none; /* Ensure no default hover underline appears */
  }
  
  a.myLink:hover::after,
  a.myLink:hover {
      color: green; /* Change text and underline to green on hover */
  }
  
  a.myLink::after {
      content: ''; /* Necessary for the pseudo-element to work */
      position: absolute; /* Position absolutely within the relative parent */
      width: 100%; /* Full width of the text */
      height: 1px; /* Height of the underline */
      background: black; /* Initial color of the underline */
      left: 0; /* Align to the left edge of the parent */
      bottom: -2px; /* Position below the text */
      transition: background-color 0.3s; /* Smooth transition for color change */
  }
  
  a.myLink:hover::after {
      background: green; /* Change to green on hover */
  }
  </style>


<!-- begin hero -->
<section class="hero">
  <div class="container">
    <div class="row">

      <div class="col col-6 col-d-12">
        <div class="hero__left">
        <!--{% if site.data.settings.author.author__avatar %}  
          <div class="hero__avatar">
            <img class="lazy" data-src="{{ site.data.settings.author.author__avatar }}" alt="{{ site.data.settings.author.author__name }}">
          </div>-->
          {% endif %}
          <h1 class="hero__title">{{ site.data.settings.hero.hero__title }}</h1>
          <h3 class="hero__description">{{ site.data.settings.hero.hero__subtitle }}</h3> 
          <p class="hero__description">{{ site.data.settings.hero.hero__description }}</p>

          <div style="border: 0px solid rgb(39, 11, 152); background-color: rgba(255, 255, 255, 0.605); border-radius: 12px; padding: 3%; margin: 2%;">
            <!-- First Div for Announcements -->
            <div style="text-align: left; margin-bottom: 0px;">
                <h3>📣  Latest Announcements </h3>
            </div>
        
            <!-- Second Div with the first link -->
            <div style="margin-left: 2%;">
              <ul>
                <li><a href="{{ '/submissions' | relative_url }}" class="myLink">
                  Submissions open until May 23rd 2024</a></li>
              <li><a href="{{ '/prizes' | relative_url }}" class="myLink">
                Check out the list of prizes for best papers & reviewers 
            </a></li>
            <li><a href="mailto:workshop@ml4lms.bio" class="myLink">
              Register your interest in volunteering to review papers</a></li>
              </ul>
            </div>

        </div>


          {% if site.data.settings.mailchimp.enable == true %}
          <div class="hero__subscribe">
            <h3> Interested in attending our workshop?</h3>
              <form class="subscribe-form validate" action="https://bio.us22.list-manage.com/subscribe/post?u=c11b5cdfac933324ba6b81e53&amp;id=b2be655647&amp;f_id=0045cbe1f0" method="post" id="membedded-subscribe-form" name="membedded-subscribe-form" target="_blank" novalidate>
                <label class="screen-reader-text" for="mce-EMAIL">Email address</label>
                <input class="subscribe-email required email" id="mce-EMAIL" type="text" name="EMAIL"
                placeholder="{% if site.data.settings.mailchimp.mailchimp__input__text %}{{ site.data.settings.mailchimp.mailchimp__input__text }}{% else %}Email address{% endif %}">
                <button class="button button--primary subscribe-button" id="membedded-subscribe" type="submit" name="subscribe">{{
                  site.data.settings.mailchimp.mailchimp__button__text }}</button>
               </form>
        </div>


          {% endif %}
        </div>

        
      </div>

      

      <div class="col col-5 col-d-12">
        <div class="hero__right">
          <div class="hero__image">
            <img class="lazy" data-src="{{ site.data.settings.hero.hero__image }}" alt="{{site.data.settings.author.author__name}}'s Picture">
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
<!-- end hero -->
{% endif %}
