{% if site.data.settings.programs.enable == true %}
<!-- begin testimonials -->
<div class="container">
  <section class="section testimonials animate">
    <div class="row">
      <div class="col col-12">
        <div class="section__info">
          <div class="section__head">
            <h2 class="section__title">{{ site.data.settings.programs__title }}</h2>
          </div>
          {% if site.data.settings.organizers__description %}
           <p class="section__description">{{ site.data.settings.programs__description }}</p>
          {% endif %}
        </div>

        <div class="table-container">
          <table>
            <tr><th>Name</th><th>Affiliation</th></tr>
            <tr><td>Adeesh Kolluru</td><td>Carnegie Mellon University</td></tr>
            <tr><td>Adrian S. W. Tam</td><td>NVIDIA</td></tr>
            <tr><td>Agamemnon Krasoulis</td><td>University of Edinburgh</td></tr>
            <tr><td>Ahmed A. A. Elhag</td><td>Department of Computer Science, University of Oxford</td></tr>
            <tr><td>Akshay Paropkari</td><td>Clear Labs</td></tr>
            <tr><td>Alex Hawkins-Hooker</td><td>InstaDeep</td></tr>
            <tr><td>Alex Morehead</td><td>University of Missouri, Columbia</td></tr>
            <tr><td>Alexandra Gessner</td><td>AstraZeneca</td></tr>
            <tr><td>Alexis Molina</td><td>Nostrum Biodiscovery</td></tr>
            <tr><td>Amey Varhade</td><td>International Business Machines</td></tr>
            <tr><td>Amir Pouya Shanehsazzadeh</td><td>Harvard University</td></tr>
            <tr><td>Andrew Buchanan</td><td>AstraZeneca</td></tr>
            <tr><td>Anirvan M. Sengupta</td><td>Rutgers University</td></tr>
            <tr><td>Aoran Wang</td><td>University of Luxemburg</td></tr>
            <tr><td>Arian Khorasani</td><td>University of Montreal</td></tr>
            <tr><td>Ariel J Ben Sasson</td><td>ZipBio</td></tr>
            <tr><td>Asif Khan</td><td>Harvard Medical School, Harvard University</td></tr>
            <tr><td>Atabey Ünlü</td><td>Hacettepe University</td></tr>
            <tr><td>Ayush Prasad</td><td>University of Helsinki</td></tr>
            <tr><td>Chenyu Wang</td><td>Massachusetts Institute of Technology</td></tr>
            <tr><td>Chi Xie</td><td>Tongji University</td></tr>
            <tr><td>Cristian Regep</td><td>Relation Therapeutics</td></tr>
            <tr><td>Cyril Malbranke</td><td>EPFL - EPF Lausanne</td></tr>
            <tr><td>Daniel McNeela</td><td>University of Wisconsin - Madison</td></tr>
            <tr><td>Daniel Soric</td><td>Deep LS</td></tr>
            <tr><td>Danny Reidenbach</td><td>NVIDIA</td></tr>
            <tr><td>David Zhang</td><td>Yale University</td></tr>
            <tr><td>Defne Circi</td><td>Duke University</td></tr>
            <tr><td>Emanuele Loffredo</td><td>Ecole Normale Supérieure de Paris</td></tr>
            <tr><td>Emile Mathieu</td><td>University of Cambridge</td></tr>
            <tr><td>Franco Pellegrini</td><td>International School for Advanced Studies Trieste</td></tr>
            <tr><td>Frederic A Dreyer</td><td>Exscientia</td></tr>
            <tr><td>Guillem Simeon</td><td>Universitat Pompeu Fabra</td></tr>
            <tr><td>Guoqing Zhou</td><td>NVIDIA</td></tr>
            <tr><td>Hassan Sirelkhatim</td><td>NVIDIA</td></tr>
            <tr><td>Hrishikesh Dhondge</td><td>Institut Curie</td></tr>
            <tr><td>Hsun-Hsien Shane Chang</td><td>Novartis</td></tr>
            <tr><td>Ido Calman</td><td>Absci Corp.</td></tr>
            <tr><td>Indra Priyadarsini</td><td>IBM Research - Tokyo, International Business Machines</td></tr>
            <tr><td>Isabel VL Wilkinson</td><td>NVIDIA</td></tr>
            <tr><td>Jared Tumiel</td><td>Retro Biosciences</td></tr>
            <tr><td>Jiarui Lu</td><td>Mila - Québec AI Institute; Université de Montréal</td></tr>
            <tr><td>Jie Sheng</td><td>University of Wisconsin - Madison</td></tr>
            <tr><td>Jinwoo Leem</td><td>Alchemab Therapeutics Ltd</td></tr>
            <tr><td>John D Boom</td><td>Columbia University</td></tr>
            <tr><td>Jonas Verhellen</td><td>University of Oslo</td></tr>
            <tr><td>Julian Rodemann</td><td>Ludwig-Maximilians-Universität München</td></tr>
            <tr><td>Juno Nam</td><td>Massachusetts Institute of Technology</td></tr>
            <tr><td>Justin Barton</td><td>Alchemab Therapeutics</td></tr>
            <tr><td>Justin Diamond</td><td>University of Basel</td></tr>
            <tr><td>Kenneth Chiu</td><td>State University of New York at Binghamton</td></tr>
            <tr><td>Khalimat Murtazalieva</td><td>University of Cambridge</td></tr>
            <tr><td>Kieran Didi</td><td>University of Cambridge</td></tr>
            <tr><td>Kiran Vaddi</td><td>University of Washington</td></tr>
            <tr><td>Krisztina Sinkovics</td><td>Small Robot Company</td></tr>
            <tr><td>Ksenia R. Briling</td><td>EPFL - EPF Lausanne</td></tr>
            <tr><td>Leo Klarner</td><td>University of Oxford</td></tr>
            <tr><td>Liv Gorton</td><td>Cellware Labs</td></tr>
            <tr><td>Luis Itza Vazquez-Salazar</td><td>Ruprecht-Karls-Universität Heidelberg</td></tr>
            <tr><td>Luiz Felipe Vecchietti</td><td>Institute for Basic Science</td></tr>
            <tr><td>Maciej Majewski</td><td>Sanofi</td></tr>
            <tr><td>Maitreyee Sharma Priyadarshini</td><td>Johns Hopkins University</td></tr>
            <tr><td>Majdi Hassan</td><td>AbbVie</td></tr>
            <tr><td>Markus Orsi</td><td>Universität Bern</td></tr>
            <tr><td>Maximilian Gantz</td><td>University of Cambridge</td></tr>
            <tr><td>Micha Livne</td><td>University of Toronto</td></tr>
            <tr><td>Michael Jones</td><td>University of Chicago</td></tr>
            <tr><td>Michelle Lynn Gill</td><td>Columbia University</td></tr>
            <tr><td>Micky C. Nnamdi</td><td>Georgia Institute of Technology</td></tr>
            <tr><td>Miruna Cretu</td><td>University of Cambridge</td></tr>
            <tr><td>Mohammad Sultan</td><td>insitro</td></tr>
            <tr><td>Nathan C. Frey</td><td>Prescient Design, Genentech</td></tr>
            <tr><td>Nelly Tian</td><td>University of Southern California</td></tr>
            <tr><td>Niccolò Alberto Elia Venanzi</td><td>NVIDIA</td></tr>
            <tr><td>Nicholas R De Veaux</td><td>New York University</td></tr>
            <tr><td>NIKHIL KUMAR THOTA</td><td>Johns Hopkins University</td></tr>
            <tr><td>Oliver M. Turnbull</td><td>University of Oxford</td></tr>
            <tr><td>Qiaohao Liang</td><td>Massachusetts Institute of Technology</td></tr>
            <tr><td>Qilin Hong</td><td>University of Wisconsin - Madison</td></tr>
            <tr><td>Ragothaman M Yennamalli</td><td>SASTRA Deemed University</td></tr>
            <tr><td>Rana Ahmed Barghout</td><td>University of Toronto</td></tr>
            <tr><td>Rayees Rahman</td><td>Icahn School of Medicine at Mount Sinai</td></tr>
            <tr><td>Ria Vinod</td><td>Brown University</td></tr>
            <tr><td>Rico Meinl</td><td>Retro Biosciences</td></tr>
            <tr><td>Rishabh Anand</td><td>National University of Singapore</td></tr>
            <tr><td>Rishikesh Magar</td><td>Deep Apple Therapeutics</td></tr>
            <tr><td>Romain Lacombe</td><td>Massachusetts Institute of Technology</td></tr>
            <tr><td>Ryan Theisen</td><td>University of California Berkeley</td></tr>
            <tr><td>Sarah Gurev</td><td>Massachusetts Institute of Technology</td></tr>
            <tr><td>Sarika Mulukuntla</td><td>University of North America</td></tr>
            <tr><td>Sharmi Banerjee</td><td>Amazon</td></tr>
            <tr><td>Shiyi Qin</td><td>University of Wisconsin - Madison</td></tr>
            <tr><td>Shuhao Zhang</td><td>EPFL - EPF Lausanne</td></tr>
            <tr><td>Siddharth Betala</td><td>Indian Institute of Technology, Madras</td></tr>
            <tr><td>Siddharth Goyal</td><td>Google</td></tr>
            <tr><td>Simon L. Dürr</td><td>EPFL - EPF Lausanne</td></tr>
            <tr><td>Sofia Mongardi</td><td>Polytechnic Institute of Milan</td></tr>
            <tr><td>Somesh Mohapatra</td><td>Massachusetts Institute of Technology</td></tr>
            <tr><td>Soumya Snigdha Kundu</td><td>King's College London, University of London</td></tr>
            <tr><td>Sovesh Mohapatra</td><td>University of Pennsylvania, University of Pennsylvania</td></tr>
            <tr><td>Srijit Seal</td><td>University of Cambridge</td></tr>
            <tr><td>Srimukh Prasad Veccham</td><td>NVIDIA</td></tr>
            <tr><td>Srinivasan Sivanandan</td><td>Insitro</td></tr>
            <tr><td>Sukwon Yun</td><td>Department of Computer Science, University of North Carolina at Chapel Hill</td></tr>
            <tr><td>Tashin Ahmed</td><td>Cinq Technologies</td></tr>
            <tr><td>Therence Bois</td><td>Université de Montréal</td></tr>
            <tr><td>Tian Xie</td><td>Microsoft Research AI for Science</td></tr>
            <tr><td>Timon Schneider</td><td>Imperial College London</td></tr>
            <tr><td>Trang Le</td><td>Stanford University</td></tr>
            <tr><td>Tuan Le</td><td>Pfizer</td></tr>
            <tr><td>Tunca Dogan</td><td>Hacettepe University</td></tr>
            <tr><td>Vahe Gharakhanyan</td><td>Facebook</td></tr>
            <tr><td>Vidushi Sharma</td><td>International Business Machines</td></tr>
            <tr><td>Vishal Bahirwani</td><td>Capital One</td></tr>
            <tr><td>Wenkai Han</td><td>King Abdullah University of Science and Technology</td></tr>
            <tr><td>Xinyu Yuan</td><td>Montreal Institute for Learning Algorithms, University of Montreal, Université de Montréal</td></tr>
            <tr><td>Yanan Long</td><td>University of Chicago</td></tr>
            <tr><td>Yi Ren</td><td>Arizona State University</td></tr>
            <tr><td>Yufan Liu</td><td>Imperial College London</td></tr>
            <tr><td>Žarko Ivković</td><td>Universitat de Barcelona</td></tr>
            <tr><td>Zhangzhi Peng</td><td>Duke University</td></tr>
            <tr><td>Zhonglin Cao</td><td>NVIDIA</td></tr>
            <tr><td>Zhongtian Sun</td><td>University of Durham</td></tr>
            <tr><td>Zuobai Zhang</td><td>Mila - Université de Montréal</td></tr>
          </table>
        </div>

      </div>
    </div>
  </section>
</div>
<!-- end testimonials -->
{% endif %}




