{% if site.data.settings.programs.enable == true %}
<!-- begin testimonials -->
<div class="container">
  <section class="section testimonials animate">
    <div class="row">
      <div class="col col-12">

        <div class="section__info">
          <div class="section__head">
            <h2 class="section__title">{{ site.data.settings.programs__title }}</h2>
            <p> Thank you for all those who are contributing to the success of this workshop</p>
          </div>
        </div>

        <div class="table-container">
          <table>
            <tr><th>Name</th><th>Affiliation</th></tr>
            <tr><td>Ahmed Elhag</td><td>University of Oxford</td></tr>
            <tr><td>Alex Morehead</td><td>MizzoU</td></tr>
            <tr><td>Alishba Imran</td><td>UC Berkeley</td></tr>
            <tr><td>Amir Shanehsazzadeh</td><td>Absci</td></tr>
            <tr><td>Amy X. Lu</td><td>UC Berkeley</td></tr>
            <tr><td>Anna Cichonska</td><td></td></tr>
            <tr><td>Aoran Wang</td><td>U Luxembourg</td></tr>
            <tr><td>Arvind Ramanathan</td><td>Argonne</td></tr>
            <tr><td>Chaitanya K. Joshi</td><td>University of Cambridge</td></tr>
            <tr><td>Chenyu Wang</td><td>MIT</td></tr>
            <tr><td>Danny Jesus Diaz</td><td>Intelligent Proteins</td></tr>
            <tr><td>Daniel McNeela</td><td>Valence Labs / UW Madison</td></tr>
            <tr><td>Elif Ozkirimli</td><td>Roche</td></tr>
            <tr><td>Eve Richardson</td><td>La Jolla Institute</td></tr>
            <tr><td>Guillem Simeon</td><td>UPFBarcelona</td></tr>
            <tr><td>Halil Akin</td><td>Evolutionary scale</td></tr>
            <tr><td>Jeff Ruffolo</td><td>Profluent</td></tr>
            <tr><td>Jiarui Lu</td><td>Mila</td></tr>
            <tr><td>Justin Barton</td><td>Alchemab</td></tr>
            <tr><td>Justin Diamond</td><td>U Basel</td></tr>
            <tr><td>Kang Jin</td><td>Harvard U</td></tr>
            <tr><td>Kenneth Chiu</td><td>Binghamton</td></tr>
            <tr><td>Krzysztof Maziarz</td><td>Microsoft Research</td></tr>
            <tr><td>Krisztina Sinkovics</td><td>University of Cambridge</td></tr>
            <tr><td>Maciej Majewski</td><td>Sanofi</td></tr>
            <tr><td>Majdi Hassan</td><td>Mila</td></tr>
            <tr><td>Michael Chase</td><td>University of Southern California</td></tr>
            <tr><td>Muneeb Sultan</td><td>Absci</td></tr>
            <tr><td>Nate Gruver</td><td>NYU</td></tr>
            <tr><td>Nathan Frey</td><td>Prescient - Genentech</td></tr>
            <tr><td>Nicolas Carran</td><td>InstaDeep</td></tr>
            <tr><td>Rayees Rahman</td><td>Harmonic Discovery</td></tr>
            <tr><td>Rico Meinl</td><td>retro.bio</td></tr>
            <tr><td>Rohit Singh</td><td>Duke</td></tr>
            <tr><td>Ryan Theisen</td><td></td></tr>
            <tr><td>Stanislaw Jastrzebski</td><td>MoleculeOne</td></tr>
            <tr><td>Therence Bois</td><td>Valence Labs</td></tr>
            <tr><td>Tuan Le</td><td>Pfizer</td></tr>
            <tr><td>Yanan Long</td><td>University of Chicago</td></tr>
            <tr><td>Zuobai Zhang</td><td>Mila</td></tr>
          </table>
        </div>

      </div>
    </div>
  </section>
</div>
<!-- end testimonials -->
{% endif %}




