/* Logos */
.section.logos {
  padding-top: 0;
  border-top: none;
}

.logos__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 logos per row */
  gap: 20px; /* Adjust the gap between logos as needed */
  list-style: none; /* Remove default list styling */
  padding: 0;
  margin: 0;
}

.logos__item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logos__link {
  display: block;
  transition: all .2s ease;

  &:hover {
    transform: scale(1.1);
    opacity: 0.8;
  }
}

.logos__image {
  width: auto; /* Set a fixed width for all logos */
  height: 32px; /* Maintain aspect ratio */
  //filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(179deg) brightness(0%) contrast(0%);

  @media (max-width: $mobile) {
    height: 32px;
  }
}

.dark-mode {
  .logos__image {
    filter: invert(100%) sepia(32%) saturate(304%) hue-rotate(200deg) brightness(115%) contrast(88%);
  }
}